@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}
@if (Model.ErrorMessage.Length > 0)
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}
<div class="button-row">
    <form method="get">
        <label asp-for='NameFilter'>Jméno:</label>
        <input type='text' asp-for='NameFilter' />
        <select asp-for='ClassFilter'>
            <option value="">Všechny třídy</option>
            <optgroup label="4. ročníky">
                <option value="4.C">4.C</option>
                <option value="4.B">4.B</option>
                <option value="4.A">4.A</option>
            </optgroup>
            <optgroup label="3. ročníky">
                <option value="3.C">3.C</option>
                <option value="3.B">3.B</option>
                <option value="3.A">3.A</option>
            </optgroup>
            <optgroup label="2. ročníky">
                <option value="2.A">2.A</option>
                <option value="2.C">2.C</option>
                <option value="2.B">2.B</option>
            </optgroup>
            <optgroup label="1. ročníky">
                <option value="1.C">1.C</option>
                <option value="1.B">1.B</option>
                <option value="1.A">1.A</option>
            </optgroup>
            <optgroup label="Osmileté gymnázium">
                <option value="R8.A">R8.A</option>
                <option value="R7.A">R7.A</option>
                <option value="R6.A">R6.A</option>
                <option value="R5.A">R5.A</option>
                <option value="R4.A">R4.A</option>
                <option value="R3.A">R3.A</option>
                <option value="R2.A">R2.A</option>
                <option value="R1.A">R1.A</option>
            </optgroup>
        </select>
        <label asp-for='RfidFilter'>Rfid:</label>
        <input type='text' asp-for='RfidFilter' />
        <input class="button-primary" type="submit" value="Filtrovat" />
    </form>
    <a class="button-primary" asp-page="Export" asp-page-handler="csv">Export všech studentů do csv</a>
</div>
<div class="user-list">
    @foreach (var u in Model.Users)
    {

        <div class='user-item'>
            <div>
                <span class="user-info-primary">@u.FullName() - @u.Class</span>
                <span class="user-info-secondary">@u.PersonalEmail / @u.SchoolEmail</span>
            </div>
            <a class="button-primary" asp-page="User" asp-route-id="@u.Id">Zobrazit</a>
        </div>

    }
</div>