@page
@model SchoolAccountSync.Pages.UserModel
@{
    ViewData["Title"] = "Student detail";
}
@if (Model.SuccessMessage.Length > 0)
{
    <div class="alert alert-success my-1" role="alert">
        @Model.SuccessMessage
    </div>
}
@if (Model.ErrorMessage.Length > 0)
{
    <div class="alert alert-danger my-1" role="alert">
        @Model.ErrorMessage
    </div>
}
<h1>@Model.User.FullName()</h1>
<div class="user-profile-info">
    <span>Školní email: @Model.User.SchoolEmail</span>
    <span>Osobní email: @Model.User.PersonalEmail</span>
    <span>Datum narození: @Model.User.Birthdate.ToString("d. M. yyyy") (@Model.User.GetAge() let)</span>
    <span>Typ uživatele: @Model.User.UserType</span>
    <span>Skříňka: @Model.User.LockerNumber</span>
    <span>Třída: @Model.User.Class</span>
    <span>Stav: @Model.User.Status</span>
    <span>ID: @Model.User.Id</span>
    <span>Jednorázové heslo: @Model.User.TempPassword</span>
    <form method="post">
        <input type="hidden" asp-for="User.Id" />
        <label asp-for="User.Rfid">Rfid:</label>
        <input class="mx-2" asp-for="User.Rfid" autofocus />
        <input class="button-primary mt-2" type="submit" value="Uložit" />
    </form>
    <h2>Stav synchronizace</h2>
    
    <span>
        @if (@Model.IsSyncedWithCopiers)
        {
            <img class="icon" src="~/icons/check-success.svg" alt="success icon" />
        }
        else
        {
            <img class="icon" src="~/icons/check-error.svg" alt="error icon" />
        }
        Kopírky
    </span>
    <form asp-page-handler="SyncToCopiers" method="post">
        <input type="hidden" asp-for="User.Id" />
        <input class="button-primary mt-2" type="submit" value="Sync with copiers" />
    </form>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

